:root{
    background-color: blanchedalmond;
}


li:first-child {
    font-weight: bold;
}


a:last-child {
    color: red;
}


input:disabled {
    background-color: gray;
}


div > p {
    font-weight: bold;
}


a[href^="https"] {
    color: green;
}

input[type="text"] {
    border: 1px solid blue;
}


li:first-child, li:last-child {
    font-size: 24px;
}


div p {
    font-size: 16px;
}



input[type="checkbox"] {
    appearance: none; 
    width: 15px;
    height: 15px;
    border: 2px solid black;
    cursor: pointer;
}


input[type="checkbox"] {
    background-color: white;
}


input[type="checkbox"]:checked {
    background-color: pink;
}


li > a {
    text-decoration: underline;
}


li:nth-child(even) {
    font-weight: bold;
}


input[type="text"]:not(:disabled) {
    background-color: lightgray;
}


p:first-child {
    font-size: 24px;
}


.special + li {
    text-decoration: line-through;
}


p::first-letter {
    font-size: 36px;
}


a::after {
    content: "↗️";
}